/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .formFile,
 .infoQrCode {
     padding: 15px;
     background-color: #fff;
     border: 1px solid #ccd0d4;
     margin: 6px 0 4px;
 }

 .infoQrCode{
   box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
 }

 .uploadCsv{
    color: #555d66;
    font-size: 18px;
    font-style: normal;
    margin: 0;
    padding: 0;
 }

.labelCsv{
  margin-bottom: 10px;
}
